body {
    font-family: 'Ubuntu', sans-serif;
}

.display {
    display: flex;
    gap: .4rem;
    justify-content: center;
    align-items: end;
    font-size: 1.5rem;
    color: black;
    height: fit-content;
    height: 79vh;
    padding: auto 3rem;

    .array-bar {
        margin-top: auto;
        margin-bottom: 0;
        border-radius: .2rem;
        width: .5rem;
        background-color: lightblue;
        transition: all .25s ease;
    }

    .selected-bar {
        background-color: lightcoral;
    }
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    height: 4rem;
    padding: 0;
    margin: 0;

    .selected {
        color: #343a40;
        background-color: #FFFFFFEE;
    }

    .length-slider {
        accent-color: lightblue;
        border: none;
        width: 15rem;
    }
    
    .slider-label, .time-slider-label {
        font-size: 1.15rem;
        margin-right: .2rem;
        color: white;
    }

    .time-slider-label {
        padding-left: .5rem;
        min-width: 4rem;
    }
}

.btn {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    margin: .5rem;
    padding: .5rem .75rem;
    transition: all .35s ease;
    font-size: 1.15rem;
}

.btn:hover {
    border-radius: .75rem;
}

.sort-btns {
    display: flex;
    justify-content: center;

    .btn {
        font-size: 1.35rem;
        display: flex;
        justify-content: center;
        color: white;
        background-color: #343a40;
        margin: 7rem .5rem 0;
    }
    
    .btn:disabled {
        pointer-events: none;
        opacity: .6;
    }

}

